{% extends "Baasha/base.html" %}
{% load static from staticfiles %}
<body>
  {%block content%}


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
      <div class="Main_box">
      <center>
                <img src="{% static 'image/Logo_1.png'%}" width=40% align="center"/>
                <p>
          Baasha.net is created with the goal of making language learning a fun for kids. It is geared towards elementary grade kids (grade 1 through 4). We hope to achieve this goal by creating fun-filled activities, games, songs and stories. It eases the task for parents and all they need to do is introduce baasha.net to their kids. There are many interactive worksheets to improve tamil letters and word skills. This website will be updated periodically with more printout and activities. Just print your favorite activity and do it at your own pace. If there is any specific activity you like to do more, please contact using the Feedback & Support option in the top. we will make more worksheets available.

This is a free website now and there is no charge for accessing it. Have fun learning.
        </p>
        <a href="Language.html">
        <Button class="btn Blue_Btn grad_orange" style="margin-left:2px;"> <h3>Start Learning</h3></Button>
        </a></center></div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

      
    {%endblock%}